*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #ffffff;
    padding-top: 16px;

    /* for check
     border: 2px solid tomato;
    background-color: coral;  */
}

nav{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
    /* for check
     border: 2px solid red;
    align-items: center; */
}

.menu{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 32px;
}

nav .menu a{
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
}
.btn{
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #2aab60;
    border-radius: 4px;
    border: none;
    padding: 12.5px 16px;

    width: 164px 144px;
}