*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #ffffff;
    padding-top: 16px;

    /* for check
     border: 2px solid tomato;
    background-color: coral;  */
}

nav{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    /* for check
     border: 2px solid red;
    align-items: center; */
}

.menu{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 32px;
}

nav .menu a{
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
}
.btn{
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #2aab60;
    border-radius: 4px;
    border: none;
    padding: 12.5px 16px;

    width: 164px 144px;
}

.main{
    background-image: url("../Images/hero-bg.png");
    width: 1600px;
    height: 674px;
}

.main-info{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    justify-items: center;
    justify-content: center;
    /* margin-top: 115px; */
    /* background-color: coral; */
}

.text-info .part1{
    color: #ffffff;
}
.text-info .part2{
    color: #30b868;
}

.text-info .first-p{
    width: 229px;
    height: 35px;
    font-size: 16px;
    font-weight: 500px;
    color: #30b868;
    border-radius: 50px;
    background-color: #ffffff;
    margin-bottom: 16px;

    
}

.text-info .second-p{
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 32px;
    /* line-height: 24; */
}

.btn-info{
    display: flex;
    justify-content: center;
    gap: 16px;

    font-size: 16px;
    font-weight: 600px;
}

.btn-info .btn2{
    width: 251px;
    height: 52px;
    background-color: #24a259;
    border: none;
    border-radius: 4px;

}
.btn-info .btn3{
    width: 198px;
    height: 52px;
    border: none;
    border-radius: 4px;
}



/* .text-info .part1, .part2{
    width: 770px;
    height: 168px;
} */