
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #ffffff;
    padding-top: 16px;
}

nav{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.menu{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 32px;
}

nav .menu a{
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
}
.btn{
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #2aab60;
    border-radius: 4px;
    border: none;
    padding: 12.5px 16px;

    width: 164px 144px;
}


#about{
    background-image: url("../Images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    
    padding: 40px;
    color: #ffffff;
    min-height: 80vh; 
}

.about-container{

    width: 85%;
    max-width: 1360; 
    height: 379px;
    text-align: center;
    /* background-color:coral; */
}




.section-heading .first-paragraph{
    display: inline-block;
    padding: 8px 12px 8px 34px;
    background-color: #ffffff;
    color: #30B868;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 500px;
    margin-bottom: 16px;
}
.section-heading h1{
    font-size: 72px;
    line-height: 84px;
    margin-bottom: 16px;
}
.head-color{
    color: #30B868;
}
.section-heading .second-paragraph{
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    /* color: coral; */
    margin-bottom: 32px;
}
.section-heading .button-info{
    display: flex;
    gap: 16px;
    justify-content: center;
}
.section-heading .button-info button{
    padding: 16.5px 46px 16.5px 16px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.button-info .first-btn{
    background-color: #30B868;
    color: #ffffff;
}
.second-btn{
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #474747;
}

