
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #ffffff;
    padding-top: 16px;
}
nav{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 32px;
}
nav .menu a{
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
}
.btn{
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #2aab60;
    border-radius: 4px;
    border: none;
    padding: 12.5px 16px;

    /* width: 164px 144px; */
}


#about{
    background-image: url("../Images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    
    padding: 40px;
    color: #ffffff;
    min-height: 80vh; 
}
.about-container{

    width: 85%;
    max-width: 1360; 
    height: 379px;
    text-align: center;
    /* background-color:coral; */
}
.section-heading .first-paragraph{
    display: inline-block;
    padding: 8px 12px 12px 34px;
    background-color: #ffffff;
    color: #30B868;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 500px;
    margin-bottom: 16px;
}
.first-paragraph img{
     max-width: 20px;
}
.section-heading h1{
    font-size: 72px;
    line-height: 84px;
    margin-bottom: 16px;
}
.head-color{
    color: #30B868;
}
.section-heading .second-paragraph{
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    /* color: coral; */
    margin-bottom: 32px;
}
.section-heading .button-info{
    display: flex;
    gap: 16px;
    justify-content: center;
}
.button-info .second-btn .fa-brands{
margin-right: 10px;
}
.section-heading .button-info button{
    padding: 16.5px 46px 16.5px 16px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}
.button-info .first-btn{
    background-color: #30B868;
    color: #ffffff;
     display: inline-flex;
    align-items: center;
}
.second-btn{
    background-color: transparent;
    color: #ffffff;
}



#notes{
    padding-top: 50PX;
}
.notes-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}
.notes-container .section-heading{
    text-align: center;
}
.notes-container .section-heading h2{
font-size: 48px;
font-weight: bold;
color: #001931;
}
.notes-container .section-heading p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
}
.notex-box{
    display: flex;
    gap: 24px;
}
.notex-box .notes-card{
    padding: 16px 24px;
    /* border: 2px solid red; */
    text-align: center;
    max-width: 322px;
    box-shadow: 0 0 8px 0 #0000003b;
    border-radius: 8px;
    background-color: #ffffff;
    /* background-color: #2aab60; */
}
.notex-box .notes-card img{
    max-width: 60px;
    margin-bottom: 16px;
}
.notes-card h3{
    font-size: 24px;
    font-weight: 600px;
    color: #001931;
    margin-bottom: 16px;
}
.notes-card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}



#solution{
    padding: 120px;
}
.solution-container{
    display: flex;
    justify-content: center;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    gap: 60px;
}
.photo img{
    max-width: 600px;
    border-radius: 12px;
    box-shadow: 0 0 8px 0 #00000008;
    /* border: 4px solid red; */
}
.solution-info{
    align-content: center;
    /* border: 4px solid red; */
}
.solution-heading .first-p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #30B868;
    margin-bottom: 16px;
}
.solution-heading h3{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.solution-heading .second-p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}
.icon-line p{
    margin-bottom: 16px;
}



#early-access{
    margin-bottom: 120px;
    align-items: center;
    /* text-align: center; */
}
.early-access-container{
    width: 85%;
    max-width: 1360px;
    height: 416px;
    padding-top: 80px;
    margin: 0 auto;
    text-align: center;
    background-color: #f7f6f2;
}
.early-text h3{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}
.early-text p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}
.early-btn{
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #2aab60;
    border-radius: 4px;
    border: none;
    padding: 16.5px 46px 16.5px 16px;
}
.early-btn img{
    max-width: 20px;
    margin-left: 10px;
}
.early-button p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
}



#footer{
    padding-top: 120px ;
    background-color: #001931;
}
.first-div{
    display: flex;
    justify-content: space-between;
    margin: 0 auto ;
    width: 85%;
    max-width: 1360;
}
.first-div p{
    font-size: 20px;
    line-height: 28px;
    font-weight: 500px;
    color: #ffffff;
    width: 220px;
    height: 64px;   
}
.second-div{
     display: flex;
    justify-content: center;
    width: 85%;
    height: 54px;
    max-width: 1360;
    margin: 0 auto;
}
.footer-container hr{
    width: 85%;
    max-width: 1360;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 30px;
    border: none;
    border-top: 2px dotted rgba(255, 255, 255, 0.131);
    
 }
.second-div .copy-right p{
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    color: #fafafa;
    width: 85%;
    max-width: 1360;
    white-space: nowrap;
}

